<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <form action="#" th:action="@{/absence/submit}" th:object="${absence}" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="hidden" name="subjectId" th:value="${absence.subjectId}">
        <input type="hidden" name="subjectName" th:value="${absence.subjectName}">
        <input type="hidden" name="date" th:value="${#temporals.format(absence.date, 'yyyy-MM-dd')}">
        <table>
            <tr>
                <th>NAME</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td>
                    <input type="checkbox" th:name="${absence.subjectId}" th:field="*{presentStudentsIds}" th:value="${student.id}">
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
</body>
</html>