<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="list-group-item" th:each="subject : ${subjects}" style="margin: 10px">
        <p th:text="${subject.name}"></p>
        <form method="post" th:action="@{|/subject/remove/${subject.id}|}">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
        </form>
    </ul>

    <form method="get" action="/subject/createSubject">
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
    </form>

    <br>
    <form action="/">
        <button type="submit" class="btn btn-default">Back</button>
    </form>

</div>
</body>
</html>