<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <p th:text="${selectedDay}"></p>

    <form action="#" th:action="@{/weekday/setup}" th:object="${weekday}" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input name="id" th:value="${weekday.getId()}" type="hidden">
        <div class="form-group">
            <label for="lesson1">Lesson 1</label>
            <select id="lesson1" name="lesson1" class="form-control">
                <option></option>
                <option th:each="subject : ${subjects}" th:value="${subject.name}" th:text="${subject.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="lesson2">Lesson 2</label>
            <select id="lesson2" name="lesson2" class="form-control">
                <option></option>
                <option th:each="subject : ${subjects}" th:value="${subject.name}" th:text="${subject.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="lesson3">Lesson 3</label>
            <select id="lesson3" name="lesson3" class="form-control">
                <option></option>
                <option th:each="subject : ${subjects}" th:value="${subject.name}" th:text="${subject.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="lesson4">Lesson 4</label>
            <select id="lesson4" name="lesson4" class="form-control">
                <option></option>
                <option th:each="subject : ${subjects}" th:value="${subject.name}" th:text="${subject.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
    <br>
    <form action="/weekday">
        <button type="submit" class="btn btn-default">Back</button>
    </form>

</div>
</body>
</html>